body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 70px;
    height: 100%;
    width: 100%;
}
#search{
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: lightyellow;
}
#map {
    /* Make sure the map container has a defined height and width*/
    min-height: 1px;
    width: 60%;
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 60%;
}
#contentbox {
    width: 40%;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 50px;
    bottom: 0px;
    left: 60%;
    overflow-y: scroll;
    background-color: aliceblue
}

.panel-default {
    color: black;
}

.panel-heading {
    height: 150%;
    background-color: cornflowerblue!important;
    font-weight: bold;
    font-size: 150%;
}

#createzone {
    position: relative;
    display: hidden;
    height: auto;
    padding: 10px;
    border: solid 1px #333333;
}
#toggleeditbtn{
  position: absolute;
  height: auto;
  width: auto;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

[v-cloak] {
  display: none;
}
