body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
#map {
    /* Make sure the map container has a defined height and width*/
    max-height: 700px;
    max-width: 1000px;
    height: 97%;
    width: 76%;
    position: absolute;
    left: 5px;
}
#messagebox {
    max-height: 700px;
    max-width: 250px;
    height: 97%;
    width: 18%;
    position: absolute;
    right: 5px;
    border: 1px solid black;
}
.message {
    margin: 4px;
    padding: 4px;
    background-color: #C6EBF7;
}
.message-title {
    font-weight: bold;
}
.message-content {
    padding-left: 5px;
    color: grey;
}
