body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 70px;
    height: 100%;
    width: 100%;
}
#search{

}
#map {
    /* Make sure the map container has a defined height and width*/
    min-height: 1px;
    width: 60%;
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 60%;
}
#search_input{
  height:35px;
  font-size: 18px;
  border-radius: 0px;
  margin-bottom: 8px;
}
#contentbox {
    width: 40%;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    left: 60%;
    overflow-y: scroll;
    background-color: aliceblue
}
.content{
  padding-left: 10px;
  padding-right: 10px;
}

.button{
  margin:5px;
}

.panel-default {
    color: black;
}
.topic{
  margin-right: 2px;
  margin-left:2px;

}

.topic-inactive{
  background-color: lightgrey;

}

.panel-heading {
    height: 150%;
    background-color: cornflowerblue!important;
    font-weight: bold;
    font-size: 150%;
}


#toggleeditbtn{
  position: absolute;
  height: auto;
  width: auto;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

[v-cloak] {
  display: none;
}
